<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>PDF</title>
	</head>
	<body style="color:#2d2d2d">
		<h1 style="text-align:center">Primer PDF generado</h1>
		<p>Hola Mundo</p>
		<table   border="1" cellspacing="0" cellpadding="3">
			<thead>
				<tr>
					<th style="paddig:12px">Nro Placa</th>
					<th>Popietario</th>
					<th>Modelo</th>
					<th>Marca</th>
				</tr>	
			</thead>
			<tbody >
				<tr>
					<td >PS-1234</td>
					<td>LEONO</td>
					<td>YARIS</td>
					<td>TOYOTA</td>
				</tr>
				<tr>
					<td >PS-1234</td>
					<td>LEONO</td>
					<td>YARIS</td>
					<td>TOYOTA</td>
				</tr>
			</tbody>

		</table>

	</body>
</html>