{% extends 'base.html' %}
{% block title %}
        busqueda de papeletas
{% endblock%}
{% block menu %}
    <ul>
           <li> <a href="/vehiculos/add/licencia/">add Licenciea </a></li>
           <li><a href="/pagos/">pagos</a></li>

    </ul>
{% endblock %}

{% block content%}
        <h2> Busqueda de papeletas por nro de placa </h2>
        <table>
		<thead>
		 	<tr>
		 		<th>Nombre</th>
				<th>Nro Licencia</th>
				<th>Clase</th>
				<th>Categoria</th>
				<th>Fecha Emision</th>
				<th>Fecha Vencimiento</th>
				<th> &nbsp;</th>

			</tr>
		</thead>
		
		
				{% for licencia in list_licencia %}
		<tr>
			<td>{{ licencia.propconduc_id }} </td>
		  	<td>{{ licencia.nro_licencia }}</td>
			<td>{{ licencia.clase }}</td>
			<td>{{ licencia.categoria }}</td>
			<td>{{ licencia.fecha_emision }}</td>
			<td>{{ licencia.fecha_vencimiento }}</td>
			<td><a href="/vehiculos/update/licencia/{{ licencia.id}}"> Editar </a></td>
		</tr>
			{% endfor %}
	<table>

{% endblock %}